<!DOCTYPE html>
<html>
  <head>
    <title>Planexplore</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Planexplore</h1>
    <p>Welcome to Planexplore</p>
  </body>
</html>
