@charset 'utf-8';
@import 'tools';

.container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    min-width: 100%;
    height: 100%;
    max-width: 100vh;
    font-family: 'Source Sans Pro', sans-serif;

    .result-wrapper,
    .settings-wrapper {
        background: rgba( 255, 255, 255, 0.00 );
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
        backdrop-filter: blur( 20.0px );
        -webkit-backdrop-filter: blur( 20.0px );
        border-radius: 20px;

        margin: 0 20px;
    }

    .result-wrapper {
        width: 20%;
        height: 70%;

        .header,
        .airlines {
            width: 100%;
            display: flex;
        }

        .header {
            height: 10%;
            align-items: center;
            justify-content: center;

            border-bottom: solid 2px @medium-purple;
        }

        .airlines,
        .scroll-container {
            height: 90%;
            /* max-height: 89.5%; */
            flex-direction: column;
            align-items: center;
            overflow: auto;

            .airline {
                width: 90%;
                height: 80px;
                min-height: 80px;
                background-color: #323232;
                margin: 10px 0;
                border-radius: 10px;

                &:nth-child(1) {
                    margin-top: 20px;
                }

                .airline-row {
                    width: 100%;
                    height: 40%;
                    display: flex;
                    align-items: center;
                    justify-content: space-around;

                    span.callsign {
                        font-weight: 400;
                        font-size: 20px;
                        color: @red;
                        font-family: 'Fredoka One', cursive;
                        letter-spacing: 1.1px;
                    }

                    .airports {
                        width: 50%;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        .airport_iata {
                            font-size: 15px;
                            font-weight: 700;
                            color: @light;
                        }
                    }
                }
            }
        }
    }

    .settings-wrapper {
        width: 50%;
        height: 70%;

        .header {
            width: 100%;
            height: 10%;
            display: flex;
            align-items: center;
            border-bottom: solid 2px @medium-purple;

            .span-header {
                margin: 0 30px;
            }
        }

        .options {
            width: 100%;
            height: 90%;

            display: flex;
            flex-direction: column;
            align-items: center;

            .option {
                width: 95%;
                height: auto;
                min-height: 120px;

                /* GLASSMORPHISM */
                background: rgba(86, 67, 253, 0.30);
                box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
                backdrop-filter: blur(0.0px);
                -webkit-backdrop-filter: blur(0.0px);
                border-radius: 10px;
                border: 1px solid rgba(255, 255, 255, 0.18);

                border-radius: 10px;
                margin: 10px 0;

                display: flex;
                flex-direction: column;

                &:nth-child(1) {
                    margin-top: 20px;
                }

                .option-name {
                    height: auto;
                    width: auto;
                    font-size: 18px;
                    font-weight: 600;
                    color: @light;
                    text-transform: uppercase;
                    margin: 0 .5vw;
                }

                .wrapper {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    align-items: center;

                    .column {
                        width: 50%;
                        height: 100%;

                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: space-between;

                        &:nth-child(1) {
                            border-right: solid 2px @light-purple;
                        }

                        .name-name,
                        .iata-iata {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            height: 50%;
                            width: 100%;
                        }

                        .name-name {
                            width: 100%;
                            justify-content: center;

                            .arrow-right {
                                position: relative;
                                transform: translateX(-25%);
                            }

                            .airport-name {
                                margin: 0 50px;
                                color: #505050;
                            }
                        }

                        .date-date {
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            justify-content: space-around;
                            width: 100%;
                            height: 100%;

                            label {
                                width: 90%;
                                display: flex;
                                justify-content: space-between;
                                align-items: center;
                            }
                        }

                        /* Second column */
                        &.down {
                            flex-direction: column;
                        }
                    }
                }
            }
        }
    }
}

.span-header {
    font-size: 32px;
    font-weight: 600;
}

.arrow-right {
    filter: invert(29%) sepia(22%) saturate(5566%) hue-rotate(304deg) brightness(82%) contrast(107%);
    width: 24px;
    height: 24px;
    margin: 0 10px;
    .noselect();
}

.small-arrow {
    width: 16px;
    height: 16px;
}

.small-opacity-arrow {
    opacity: .8;
}

.select {
    max-width: 70px;
    text-align-last: center;
}

.input-text {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 14px;
}

.footer {
    top: 100vh;
}


