@charset 'utf-8';
@import 'tools';

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-width: 100%;
    height: 100%;
    max-width: 100vh;
}

.footer {
    top: 100vh;
}