@charset 'utf-8';
@import 'tools';

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-width: 100%;
    height: 100%;
    max-width: 100vh;

    .settings {
        height: 70%;
        width: 20%;

        position: absolute;
        left: 2%;
        top: 0;

        background-color: @dark-gray;

        display: flex;
        flex-direction: column;
        color: @light;

        .settings-header {
            font-size: 38px;
            font-weight: 600;
            font-family: 'Source Sans Pro', sans-serif;
            padding: 20px 0;

            margin: 0 auto;
        }

        .settings-wrapper {
            height: auto;
            min-height: 80px;
            width: 100%;

            display: flex;
            flex-direction: column;

            .settings-name {
                font-size: 20px;
                font-family: 'Source Sans Pro', sans-serif;
                margin-left: 10px;
            }

            .setting-content-wrapper {
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: space-around;

                .hour-range-label {
                    font-size: 18px;
                    font-family: 'Fredoka One', cursive;
                    font-weight: 500;
                }
            }


        }
    }
}

.footer {
    top: 100vh;
}