/* ALL DEFAULT IMPORTS */
/* MAIN COLOR PALETTE */
/* OTHER COLORS */
.hamburger-menu {
  position: absolute;
  top: 57.5px;
  right: 5%;
  transform: translateY(-50%);
  opacity: 0;
  /* MEDIA */
}
.hamburger-menu .bar-1,
.hamburger-menu .bar-2,
.hamburger-menu .bar-3 {
  width: 35px;
  height: 5px;
  background-color: #7649fe;
  margin: 6px 0;
  transition: 0.4s;
  border-radius: 2px;
}
.hamburger-menu.change .bar-1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}
.hamburger-menu.change .bar-2 {
  opacity: 0;
}
.hamburger-menu.change .bar-3 {
  -webkit-transform: rotate(45deg) translate(-9px, -7px);
  transform: rotate(45deg) translate(-9px, -7px);
}
@media screen and (max-width: 1100px) {
  .hamburger-menu {
    opacity: 1;
  }
}
