<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="Aircraft,Airplane,Plane,Air,Exploration,Scanner,Longitude,Latitude,Altitude,FAQ,Frequently,Asked,Questions">
    <meta name="description" content="Planexplore - Frequently Asked Questions">
    <meta name="author" content="Afilidia">

    <link rel="icon" href="/assets/icons/world-purple.png">

    <!-- STYLES -->
    <link rel="stylesheet"  type="text/css" href="/stylesheets/menu.css">
    <link rel="stylesheet"  type="text/css" href="/stylesheets/index.css">
    <link rel="stylesheet"  type="text/css" href="/stylesheets/footer.css">
    <link rel="stylesheet"  type="text/css" href="/stylesheets/faq.css">

    <!-- GOOGLE FONTS -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,300;1,600&display=swap" rel="stylesheet">

    <!-- JQUERY -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

    <title>FAQ | Planexplore</title>
</head>
<body>
    <!-- MENU IS BEING RENDERED BY render.js - (MenuComponent) -->

    <div class="container">
        <span class="header-span">Frequently Asked Questions</span>
        <div class="questions">

            <!-- 1 -->
            <div class="question">
                <div class="question-wrapper">
                    <span class="question-content">What's the objective of this website?</span>

                    <div class="pluses">
                        <div class="plus plus-1"></div>
                        <div class="plus plus-2"></div>
                    </div>
                </div>


                <div class="answer">
                    <span class="answer-content">The project is following the Timathon theme of 2021 June.</span>
                </div>
            </div>

            <!-- 2 -->
            <div class="question">
                <div class="question-wrapper">
                    <span class="question-content">I see an issue/bug. Where can I report it?</span>

                    <div class="pluses">
                        <div class="plus plus-1"></div>
                        <div class="plus plus-2"></div>
                    </div>
                </div>


                <div class="answer">
                    <span class="answer-content">You can report all bugs in this discord server: <span class="paragraph-link">https://discord.gg/PmD6ZS9PPz</span>
                </div>
            </div>

            <!-- 3 -->
            <div class="question">
                <div class="question-wrapper">
                    <span class="question-content">How can I see all the features?</span>

                    <div class="pluses">
                        <div class="plus plus-1"></div>
                        <div class="plus plus-2"></div>
                    </div>
                </div>


                <div class="answer">
                    <span class="answer-content">You can access all the features by clicking the 'Features' label in the menu tab</span>
                </div>
            </div>

        </div>
    </div>

    <!-- FOOTER IS BEING RENDERED BY render.js - (FooterComponent)-->

    <script src="/js/debugger.js" type="text/javascript"></script>
    <script src="/js/data.js" type="text/javascript"></script>
    <script src="/js/component.js" type="text/javascript"></script>
    <script src="/js/components/MenuComponent.js" type="text/javascript"></script>
    <script src="/js/components/FooterComponent.js" type="text/javascript"></script>
    <script src="/js/renderer.js" type="text/javascript"></script>
    <script src="/js/animations.js" type="text/javascript"></script>
    <script src="/js/setuper.js" type="text/javascript"></script>
</body>
</html>