<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" href="assets/icons/world-purple.png">

    <!-- STYLES -->
    <link rel="stylesheet"  type="text/css" href="stylesheets/menu.css">
    <link rel="stylesheet"  type="text/css" href="stylesheets/index.css">
    <link rel="stylesheet"  type="text/css" href="stylesheets/footer.css">

    <!-- GOOGLE FONTS -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,300;1,600&display=swap" rel="stylesheet">

    <!-- JQUERY -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

    <title>Aircrafts around the world</title>
</head>
<body>
    <div class="menu">
        <div class="name">
            <img src="assets/icons/world-purple.png" width="64px" class="project-icon">
            <span class="project-name">Planexplore.</span>
        </div>

        <div class="options">

            <a href="index.html" class="option-redirect">
                <div class="option">
                    <span class="option-text">Home</span>
                </div>
            </a>

            <a href="features.html" class="option-redirect">
                <div class="option">
                    <span class="option-text">Features</span>
                </div>
            </a>

            <a href="#" class="option-redirect">
                <div class="option">
                    <span class="option-text">About</span>
                </div>
            </a>

            <a href="#" class="option-redirect">
                <div class="option">
                    <span class="option-text">FAQ</span>
                </div>
            </a>

        </div>

        <div class="hamburger-menu" onclick="toggleMenu(this);">
            <div class="bar-1"></div>
            <div class="bar-2"></div>
            <div class="bar-3"></div>
        </div>
    </div>

    <div class="container">
        <span class="greet menu-hide">Let's explore</span>
        <a href="features.html" class="btn a-btn">Features</a>
        <img src="./assets/img/earth.png" class="earth-image menu-hide">
    </div>

    <script src="js/debugger.js" type="text/javascript"></script>
    <script src="js/data.js" type="text/javascript"></script>
    <script src="js/MenuComponent.js" type="text/javascript"></script>
    <script src="js/renderer.js" type="text/javascript"></script>
    <script src="js/animations.js" type="text/javascript"></script>
</body>
</html>