
<div class="leaflet-popup-box">
    <span class="leaflet-header">ICAO: ${icao}</span>

    <div class="leaflet-content">
        <div class="leaflet-row">
            <span class="lealfet-row-header bold">Longitude: </span>
            <label class="leaflet-row-content">${lon}°</label>
        </div>
    </div>

    <div class="leaflet-content">
        <div class="leaflet-row">
            <span class="lealfet-row-header bold">Latitude: </span>
            <label class="leaflet-row-content">${lat}°</label>
        </div>
    </div>

    <div class="leaflet-content">
        <div class="leaflet-row">
            <span class="lealfet-row-header bold">Altitude: </span>
            <label class="leaflet-row-content">${alt} meters</label>
        </div>
    </div>

    <div class="bar"></div>
</div>