
<div class="leaflet-popup">
    <span class="leaflet-header">ICAO: ${icao}</span>

    <div class="leaflet-content">
        <div class="leaflet-row">
            <span class="lealfet-row-header bold">Heading</span>
            <label class="leaflet-row-content">${heading}</label>
        </div>
    </div>
</div>